@namespace ProjectName.WebApp.Shared
@inherits LayoutComponentBase

<div class="page">
    <div class="top-row px-4">
        <a href="/">Home</a>
        <span class="mx-2">|</span>
        <a href="/privacy">Privacy</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
